@using Microsoft.AspNetCore.Mvc.Rendering
@using Hisar.Component.Guideline.ViewComponents

<h1>Guideline Component - II</h1>
<a class="btn btn-default" href="@Url.Action("registration", "home")">Go To Registration</a>
<br />
@await Component.InvokeAsync(ViewContext.ResolveName("Sample2"))
<br />
@ViewBag.ExternalLibrary